@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@font-face {
    font-family: 'Fixel';
    src        :
        url('~assets/fonts/FixelDisplay-Medium.woff2') format('woff'),
        url('~assets/fonts/FixelDisplay-Medium.ttf') format('truetype');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel';
    src        :
        url('~assets/fonts/FixelDisplay-Regular.woff2') format('woff'),
        url('~assets/fonts/FixelDisplay-Regular.ttf') format('truetype');
    font-weight : 400;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel';
    src        :
        url('~assets/fonts/FixelDisplay-Thin.woff2') format('woff'),
        url('~assets/fonts/FixelDisplay-Thin.ttf') format('truetype');
    font-weight : 100;
    font-style  : normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro';
    src        :
        url('~assets/fonts/SourceSansPro-Semibold.otf') format('opentype');
    font-weight : 600;
    font-style  : normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro';
    src        :
        url('~assets/fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight : 400;
    font-style  : normal;
    font-display: swap;
}
  
